CamScanner/cropper/build/.transforms/41dc335fb5f7e7f1a35c98d8d11de0ff.bin
CamScanner/cropper/build/.transforms/41dc335fb5f7e7f1a35c98d8d11de0ff/classes/classes.dex
CamScanner/cropper/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
CamScanner/cropper/build/intermediates/compiled_local_resources/debug/out/layout_crop_image_view.xml.flat
CamScanner/cropper/build/intermediates/incremental/debug-mergeNativeLibs/merge-state
CamScanner/cropper/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
CamScanner/cropper/build/intermediates/incremental/mergeDebugShaders/merger.xml
CamScanner/cropper/build/intermediates/incremental/packageDebugAssets/merger.xml
CamScanner/cropper/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
CamScanner/cropper/build/intermediates/incremental/packageDebugResources/merger.xml
CamScanner/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
CamScanner/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-v11/values-v11.xml
CamScanner/cropper/build/intermediates/incremental/packageDebugResources/merged.dir/values-v14/values-v14.xml
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/BuildConfig.class
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/CropImageView.class
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/cropwindow/CropOverlayView.class
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/cropwindow/edge/Edge$1.class
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/cropwindow/edge/Edge.class
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/cropwindow/edge/EdgePair.class
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/cropwindow/handle/CenterHandleHelper.class
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/cropwindow/handle/CornerHandleHelper.class
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/cropwindow/handle/Handle.class
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/cropwindow/handle/HandleHelper.class
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/cropwindow/handle/HorizontalHandleHelper.class
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/cropwindow/handle/VerticalHandleHelper.class
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/util/AspectRatioUtil.class
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/util/HandleUtil$1.class
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/util/HandleUtil.class
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/util/ImageViewUtil.class
CamScanner/cropper/build/intermediates/javac/debug/classes/com/edmodo/cropper/util/PaintUtil.class
CamScanner/cropper/build/intermediates/library_manifest/debug/AndroidManifest.xml
CamScanner/cropper/build/intermediates/packaged_res/debug/layout/crop_image_view.xml
CamScanner/cropper/build/intermediates/packaged_res/debug/values/values.xml
CamScanner/cropper/build/intermediates/packaged_res/debug/values-v11/values-v11.xml
CamScanner/cropper/build/intermediates/packaged_res/debug/values-v14/values-v14.xml
